@page
@model RetailShop.Pages.Geburtstag.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Burzeltag</h1>

<p>
    <a class="btn btn-success btn-sm" asp-page="Create">Hinzufügen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mitarbeiter[0].Vorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mitarbeiter[0].Geburtstag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Mitarbeiter)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Vorname)
                </td>
                <td>
                    @item.Geburtstag.ToString("dd.MM.yyyy")
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.Id">Löschen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
